<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  <div class="container animated fadeIn" style="margin-top: 2%; margin-bottom: 2%">
      <div class="card bg-gradient-warning shadow-lg border-0">
        <div class="p-5">
          <div class="row align-items-center">
              <h3 class="text-white">Just-In Roll Call.</h3>
              <p class="lead text-white mt-3">Click a site below to perform a Roll Call.</p>
              <small class="text-white" style="font-weight: bold">Today's Date: {{formattedTodayDate}}</small>
           <!--  <div class="col-lg-8">
              <p class="lead text-white mt-3">I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture.</p>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Roll Call</ion-card-subtitle>
        <ion-card-title>Welcome to Just In Roll Call</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Select a site from the below list to perform a Roll Call.</p>
      </ion-card-content>
    </ion-card> -->
    <ion-list lines="none">
      <ion-list-header class="animated fadeIn">
        <ion-label style="font-size: 25px" color="tertiary">Sites</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of sitesList" (click)="performCheck(item)" class="animated fadeInDown">
        <ion-icon slot="start" color="tertiary" name="business"></ion-icon>
        <ion-label>{{item.display_name}}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
