<ion-app>
  <div *ngIf="showSplash" class="splash">
      <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
  </div>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Just In</ion-title>
          <ion-buttons slot="primary">
            <ion-label class="allFont text-white">
              Version: {{vcode}}
            </ion-label>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <div class="text-center">
          <button (click)="logOut()" type="button" class="btn my-4 allFont" style="background: #FF8F13;color:white">Log Out</button>
        </div>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
